header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  margin: 0rem 6rem; /* Add horizontal space */
  padding: 1rem 0; /* Add vertical padding for spacing */
  height: 100px; /* Fixed height for the header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}

.header-left {
  flex: 1;
}

.hamburger {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.header-center {
  flex: 1;
  text-align: center;
}

.logo {
  max-height: 35px;
}

.header-right {
  flex: 1;
  text-align: right;
}

.icon {
  font-size: 24px;
  margin-left: 1rem;
  color: #444;
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.icon:hover {
  color: #222;
  opacity: 1;
}

/* Media Query for Tablet Devices */
@media (max-width: 768px) {
  header {
    margin: 0rem 2rem; /* Reduce horizontal space for tablets */
    padding: 0.5rem 0; /* Adjust vertical padding */
    height: 70px; /* Adjust height for tablets */
  }

  .logo {
    max-height: 30px;
  }

  .icon, .hamburger {
    font-size: 25px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 400px) {
  header {
    margin: 0rem 1rem; /* Reduce horizontal space for mobile devices */
    padding: 0.5rem 0; /* Adjust vertical padding */
    height: 50px; /* Adjust height for smaller screens */
  }

  .logo {
    max-height: 25px;
  }

  .icon, .hamburger {
    font-size: 20px;
  }
}