<header>
  <div class="header-left">
    <button class="hamburger" (click)="toggleSidenav()" aria-label="Open navigation menu">
  <span class="hamburger-lines">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
  </span>
</button>
  </div>
  <div class="header-center">
    <a routerLink="/home" class="logo-link" title="Go to Home">
      <img src="/logo/logo.png" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="header-right">
    <a href="https://www.instagram.com/memoriesbyabinash/" target="_blank" title="instagram">
      <i class="fab fa-instagram icon"></i>
    </a>
    <!-- <a href="tel:+1234567890">
        <i class="fas fa-phone icon"></i>
      </a> -->
  </div>
</header>

<!-- Include the sidenav component -->
<app-sidenav [isOpen]="isSidenavOpen" (close)="toggleSidenav()"></app-sidenav>