<div class="wrapper">
    <aside class="side-content">
      <h2 class="logo">
        AM
      </h2>
      <i id="toggle-btn" class="fa fa-chevron-down fa-lg" aria-label="menu-button" type="button" (click)="toggleMenu();"></i>
      <!-- <nav id="nav-menu-js" class="nav-menu">
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">News</a>
        <a href="#" class="nav-link">Shop</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>        -->
      <nav id="mobile-menu-js" class="mobile-menu" style="height: 0px; display: none; ">
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">News</a>
        <a href="#" class="nav-link">Shop</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>
      <div id="categories-js" class="categories">
        <h2 class="category">Fashion</h2>
        <h2 class="category">Beauty</h2>
        <h2 class="category">Print</h2>
        <h2 class="category">Branding</h2>
        <h2 class="category">Digital</h2>
        <h2 class="category">Pattern</h2>
        <h2 class="category">Music</h2>
      </div>
    </aside>
</div>
