.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure it appears above other elements */
  display: none; /* Hidden by default */
}

.sidenav-overlay.open {
  display: block; /* Show the overlay when sidenav is open */
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center children */
  align-items: center;     /* Horizontally center children */
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to sidenav */
  position: fixed;
  top: 0;
  left: -50%; /* Hidden by default */
  width: 30%; /* Default width is 30% of the screen */
  height: 100%;
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
  overflow: auto;
  transition: left 1.5s cubic-bezier(0.4, 0.0, 0.2, 1); /* Slower and smoother left-to-right transition */
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top */
}

.sidenav.open {
  left: 0; /* Slide in when open */
}

.sidenav .close-btn {
  background: none;
  border: none;
  color: black; /* Set close button color to black */
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover,
  &:focus {
    color: #7b5be6;
    outline: none;
    border-radius: 10px;
  }
}

.sidenav ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center links vertically within ul */
  align-items: center;     /* Center links horizontally within ul */
  flex: 1;                 /* Take up all available vertical space */
  padding: 0;
  margin: 0;
}

.sidenav li {
  margin: 1.5rem 0; /* Add spacing between items */
}

.sidenav a {
  color: black; /* Set link color to black */
  padding: 0.5rem;
  text-decoration: none; /* Remove underline for all links */
  font-size: 1.5rem; /* Increase font size for larger text */
  font-weight: 300; /* Make the text bold */
  transition: color 0.3s ease-in-out; /* Smooth transition for hover and active states */
  &:hover,
  &:focus {
    color: #7b5be6;
    outline: none;
    border-radius: 10px;
  }
}

.sidenav a.active-link {
  color: #7b5be6; /* Classy teal green color for the active link */
  font-weight: 600; /* Slightly bolder font for the active link */
  text-decoration: none; /* Ensure no underline for the active link */
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
  .sidenav {
    width: 30%; /* Half screen width for tablets */
    left: -50%; /* Hidden by default */
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .sidenav {
    width: 70%; /* Full screen width for mobile devices */
    left: -100%; /* Hidden by default */
  }
}