<div class="wrapper">
    <aside class="side-content">
      <!-- <h2 class="logo"> -->
        <img class="logo"
        src="../../assets/home/logo.png"
        alt="Logo" class="image">
      <!-- </h2> -->
      <i id="toggle-btn" class="fa fa-chevron-down fa-lg" aria-label="menu-button" type="button" (click)="toggleMenu();"></i>
      <!-- <nav id="nav-menu-js" class="nav-menu">
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">News</a>
        <a href="#" class="nav-link">Shop</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>        -->
      <nav id="mobile-menu-js" class="mobile-menu" style="height: 0px; display: none; ">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Weddings</a>
        <a href="#" class="nav-link">Maternity</a>
        <a href="#" class="nav-link">Candid</a>
        <a href="#" class="nav-link">Portraits</a>
        <a href="#" class="nav-link">Street</a>
        <a href="#" class="nav-link">Others</a>
      </nav>
      <div id="categories-js" class="categories">
        <h2 class="category">Home</h2>
        <h2 class="category">Weddings</h2>
        <h2 class="category">Maternity</h2>
        <h2 class="category">Candid</h2>
        <h2 class="category">Portraits</h2>
        <h2 class="category">Street</h2>
        <h2 class="category">Others</h2>
      </div>
    </aside>
</div>
