:host {
  display: block;
  padding: 48px 16px;
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
}

.py-5 {
  padding-top: 0 !important;
}

@media (max-width: 600px) {
  :host {
    padding: 12px 4px !important;
  }
}