:host {
  display: block;
  padding: 1rem;
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
}

.py-5 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-light {
  background-color: #f5f7fa !important;
}

@media (max-width: 600px) {
  :host {
    padding: .6rem 0.2rem !important;
  }
}