:host {
  display: block;
  padding: 3rem 1rem 1rem 1rem;
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
}

.py-5 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-light {
  background-color: #f5f7fa !important;
}
