<div class="wrapper">

  <main class="main-content">
    <div class="column-one column">
      <img
        src="https://res.cloudinary.com/dcuaff8gm/image/upload/v1739379674/DP_mzqanw.webp"
        alt="Girl with a flower crown" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--iGqqJkvI--/q_jpegmini:1/v1527069132/photo-1499013819532-e4ff41b00669_gcjl4y_nmpeyk.jpg"
        alt="A pair of beige trainers" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--TuYf6wQo--/q_jpegmini:1/v1527069128/paper-3146952_960_720_a7lglm_yrwuhi.jpg"
        alt="Notepads and pens" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--XQGQ4-3K--/q_jpegmini:1/v1527069130/pexels-photo-893896_q6vqn4_qv9ord.jpg"
        alt="A laptop, notepads, memo pad and cactus on a blue desk" class="image">
    </div>
    <div class="column-two column">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--D0jb7ZfY--/q_jpegmini:1/v1527069129/pexels-photo-838423_hriono_zbxhbw.jpg"
        alt="Pink tiles" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--tSiWDSOy--/q_jpegmini:1/v1527069132/photo-1519763421920-f2d769e01a37_qnr50f_tuptz8.jpg"
        alt="A girl wearing glasses sitting on stairs" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--LKnlDFz7--/q_jpegmini:1/v1527069132/photo-1506976802331-7f6a56eee0f0_utyk5p_ofxbxb.jpg"
        alt="Girl in red cap standing in front of yellow and blue wall" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--PFh8MQ4B--/q_jpegmini:1/v1527069130/photo-1505204144504-0a48bd7862ee_ihdjtk_zcdupl.jpg"
        alt="Girl in smart attire standing in front of striped wall" class="image">
    </div>
    <div class="column-three column">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--Tlgn-5DV--/q_jpegmini/v1527069132/photo-1518382473172-c5b406fe7efd_nh5gqu_ae944m.jpg"
        alt="Black girl with an afro" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--zQ5McgQs--/q_jpegmini:1/v1527069130/photo-1492707892479-7bc8d5a4ee93_nrhzb7_sg2808.jpg"
        alt="Beauty products spilling out of a black sidebag" class="image">
      <img
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--_sFt8kAZ--/q_jpegmini:1/v1527069130/photo-1496775162873-064fc81ef366_iieixm_lcm9p0.jpg"
        alt="Vogue magazines on top of white bedsheets" class="image">
    </div>
  </main>


  <!-- <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
    <a data-lg-size="480-480-480, 800-800-800, 1400-1400" data-pinterest-text="Shinimamiya, Osaka, Japan"
      data-tweet-text="Shinimamiya, Osaka, Japan" class="gallery-item"
      data-src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
      data-responsive="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
      data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@asoshiation' >Shah </a></h4><p> Location - <a href='https://unsplash.com/s/photos/shinimamiya%2C-osaka%2C-japan'>Shinimamiya, Osaka, Japan</a></p>">
      <img class="img-responsive"
        src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
    </a>
    <a data-lg-size="480-480-480, 800-800-800, 1400-1400" data-pinterest-text="Pin it3"
      data-tweet-text="share on twitter 4" class="gallery-item"
      data-src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
      data-responsive="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
      data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>">
      <img class="img-responsive"
        src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
    </a>
    <a data-lg-size="480-480-480, 800-800-800, 1400-1400" data-pinterest-text="Pin it3"
      data-tweet-text="share on twitter 4" class="gallery-item"
      data-src="http://res.cloudinary.com/dm7uillhl/image/upload/s--_sFt8kAZ--/q_jpegmini:1/v1527069130/photo-1496775162873-064fc81ef366_iieixm_lcm9p0.jpg"
      data-responsive="http://res.cloudinary.com/dm7uillhl/image/upload/s--_sFt8kAZ--/q_jpegmini:1/v1527069130/photo-1496775162873-064fc81ef366_iieixm_lcm9p0.jpg 480, http://res.cloudinary.com/dm7uillhl/image/upload/s--_sFt8kAZ--/q_jpegmini:1/v1527069130/photo-1496775162873-064fc81ef366_iieixm_lcm9p0.jpg 800"
      data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>">
      <img class="img-responsive"
        src="http://res.cloudinary.com/dm7uillhl/image/upload/s--_sFt8kAZ--/q_jpegmini:1/v1527069130/photo-1496775162873-064fc81ef366_iieixm_lcm9p0.jpg" />
    </a>
  </lightgallery> -->

</div>