<!-- Main Content -->
<div class="home-main" appInViewport>
  <div class="main-image-container">
    <div class="main-image-row">

      <!-- Bootstrap Carousel Replacement -->
      <div id="homeBootstrapCarousel" class="carousel slide carousel-container"
        [ngClass]="{'gallery-open': isGalleryOpen}" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
          <div *ngFor="let img of images; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="img" class="carousel-image d-block w-100" alt="Carousel image" (click)="openGalleryAt(i)" />
          </div>
        </div>
        <button *ngIf="isGalleryOpen === false" class="carousel-control-prev" type="button"
          data-bs-target="#homeBootstrapCarousel" data-bs-slide="prev">
          <svg fill="#fff" class="slideshow-arrow" width="23" height="25" viewBox="0 0 23 39"
            style="transform: scaleX(-1) scale(1);">
            <path d="M857.005,231.479L858.5,230l18.124,18-18.127,18-1.49-1.48L873.638,248Z"
              transform="translate(-855 -230)"></path>
          </svg>
        </button>
        <button *ngIf="isGalleryOpen === false" class="carousel-control-next" type="button"
          data-bs-target="#homeBootstrapCarousel" data-bs-slide="next">
          <svg fill="#fff" class="slideshow-arrow" width="23" height="25" viewBox="0 0 23 39"
            style="transform: scaleX(1) scale(1);">
            <path d="M857.005,231.479L858.5,230l18.124,18-18.127,18-1.49-1.48L873.638,248Z"
              transform="translate(-855 -230)"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <app-gallery-modal [images]="images" [open]="isGalleryOpen" [initialIndex]="selectedGalleryIndex"
    (close)="onCloseGallery()" />
</div>
<app-about-section></app-about-section>
<app-personal-section></app-personal-section>
<app-commercial-section></app-commercial-section>