.second-header-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font: var(--font_3);
  letter-spacing: 0.5em;
  padding: 0rem 2rem;
}

@media screen and (max-width: 600px) {
  .second-header-title {
    font: var(--font_4);
  }
}