.second-header {
  font: var(--font_3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff; // Add a background color for visibility
  margin-top: 80px !important;
}

.second-header-logo {
  max-height: 80px;
  width: auto;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0.5rem;
  text-align: center;
  font: var(--font_3);
  letter-spacing: 0.5em;
  padding: 0rem 2rem;
}

@media screen and (max-width: 600px) {
  .second-header-logo {
    max-height: 50px;
  }
}