<div class="projects-container" appInViewport>
    <div class="projects-grid">
        <div class="project-card" *ngFor="let project of projects; let i = index"
            appInViewport
            [ngClass]="{'card-small': i % 3 === 0, 'card-medium': i % 3 === 1, 'card-tall': i % 3 === 2}">
            <img [src]="project.image" alt="Project image" class="project-image" />
            <div class="project-meta-row">
              <span class="project-title">{{ project.title }}</span>
              <span class="project-more">{{ project.moreText }}</span>
            </div>
        </div>
    </div>
</div> 