@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400&display=swap');

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff !important;
  background: transparent;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

:root, :host, .spxThemeOverride, .max-width-container {
  --color_0: 255, 255, 255;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 255, 255, 255;
  --color_12: 245, 245, 245;
  --color_13: 229, 229, 229;
  --color_14: 117, 117, 117;
  --color_15: 0, 0, 0;
  --color_16: 227, 177, 177;
  --color_17: 198, 133, 133;
  --color_18: 170, 58, 58;
  --color_19: 113, 39, 39;
  --color_20: 57, 19, 19;
  --color_21: 238, 203, 190;
  --color_22: 221, 173, 154;
  --color_23: 204, 115, 81;
  --color_24: 136, 77, 54;
  --color_25: 68, 38, 27;
  --color_26: 223, 193, 209;
  --color_27: 191, 153, 172;
  --color_28: 159, 95, 128;
  --color_29: 106, 63, 85;
  --color_30: 53, 32, 43;
  --color_31: 209, 215, 207;
  --color_32: 169, 176, 167;
  --color_33: 128, 136, 126;
  --color_34: 85, 96, 82;
  --color_35: 43, 48, 41;
  --color_36: 255, 255, 255;
  --color_37: 0, 0, 0;
  --color_38: 245, 245, 245;
  --color_39: 229, 229, 229;
  --color_40: 117, 117, 117;
  --color_41: 170, 58, 58;
  --color_42: 198, 133, 133;
  --color_43: 229, 229, 229;
  --color_44: 255, 255, 255;
  --color_45: 0, 0, 0;
  --color_46: 0, 0, 0;
  --color_47: 229, 229, 229;
  --color_48: 170, 58, 58;
  --color_49: 170, 58, 58;
  --color_50: 255, 255, 255;
  --color_51: 255, 255, 255;
  --color_52: 170, 58, 58;
  --color_53: 170, 58, 58;
  --color_54: 229, 229, 229;
  --color_55: 229, 229, 229;
  --color_56: 255, 255, 255;
  --color_57: 255, 255, 255;
  --color_58: 170, 58, 58;
  --color_59: 170, 58, 58;
  --color_60: 170, 58, 58;
  --color_61: 170, 58, 58;
  --color_62: 255, 255, 255;
  --color_63: 255, 255, 255;
  --color_64: 229, 229, 229;
  --color_65: 229, 229, 229;
  --font_0: normal normal bold 60px / 1.4em montserrat, sans-serif;
  --font_1: normal normal normal 16px / 1.4em din-next-w01-light, sans-serif;
  --font_2: normal normal normal 40px / 1.4em montserrat, sans-serif;
  --font_3: normal normal normal 30px / 1.4em montserrat, sans-serif;
  --font_4: normal normal normal 25px / 1.4em montserrat, sans-serif;
  --font_5: normal normal normal 22px / 1.4em montserrat, sans-serif;
  --font_6: normal normal normal 18px / 1.4em montserrat, sans-serif;
  --font_7: normal normal normal 16px / 1.4em montserrat, sans-serif;
  --font_8: normal normal normal 13px / 1.4em montserrat, sans-serif;
  --font_9: normal normal normal 11px / 1.4em montserrat, sans-serif;
  --font_10: normal normal normal 12px / 1.4em din-next-w01-light, sans-serif;

  --color-active-link: rgb(178,58,58);
}
