@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400&display=swap');

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff !important;
  background: transparent;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

:root, :host, .spxThemeOverride, .max-width-container {
  --color_0: 255, 255, 255;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 255, 255, 255;
  --color_12: 245, 245, 245;
  --color_13: 229, 229, 229;
  --color_14: 117, 117, 117;
  --color_15: 0, 0, 0;
  --color_16: 227, 177, 177;
  --color_17: 198, 133, 133;
  --color_18: 170, 58, 58;
  --color_19: 113, 39, 39;
  --color_20: 57, 19, 19;
  --color_21: 238, 203, 190;
  --color_22: 221, 173, 154;
  --color_23: 204, 115, 81;
  --color_24: 136, 77, 54;
  --color_25: 68, 38, 27;
  --color_26: 223, 193, 209;
  --color_27: 191, 153, 172;
  --color_28: 159, 95, 128;
  --color_29: 106, 63, 85;
  --color_30: 53, 32, 43;
  --color_31: 209, 215, 207;
  --color_32: 169, 176, 167;
  --color_33: 128, 136, 126;
  --color_34: 85, 96, 82;
  --color_35: 43, 48, 41;
  --color_36: 255, 255, 255;
  --color_37: 0, 0, 0;
  --color_38: 245, 245, 245;
  --color_39: 229, 229, 229;
  --color_40: 117, 117, 117;
  --color_41: 170, 58, 58;
  --color_42: 198, 133, 133;
  --color_43: 229, 229, 229;
  --color_44: 255, 255, 255;
  --color_45: 0, 0, 0;
  --color_46: 0, 0, 0;
  --color_47: 229, 229, 229;
  --color_48: 170, 58, 58;
  --color_49: 170, 58, 58;
  --color_50: 255, 255, 255;
  --color_51: 255, 255, 255;
  --color_52: 170, 58, 58;
  --color_53: 170, 58, 58;
  --color_54: 229, 229, 229;
  --color_55: 229, 229, 229;
  --color_56: 255, 255, 255;
  --color_57: 255, 255, 255;
  --color_58: 170, 58, 58;
  --color_59: 170, 58, 58;
  --color_60: 170, 58, 58;
  --color_61: 170, 58, 58;
  --color_62: 255, 255, 255;
  --color_63: 255, 255, 255;
  --color_64: 229, 229, 229;
  --color_65: 229, 229, 229;
  --font_0: normal normal bold 60px / 1.4em montserrat, sans-serif;
  --font_1: normal normal normal 16px / 1.4em din-next-w01-light, sans-serif;
  --font_2: normal normal normal 40px / 1.4em montserrat, sans-serif;
  --font_3: normal normal normal 30px / 1.4em montserrat, sans-serif;
  --font_4: normal normal normal 25px / 1.4em montserrat, sans-serif;
  --font_5: normal normal normal 22px / 1.4em montserrat, sans-serif;
  --font_6: normal normal normal 18px / 1.4em montserrat, sans-serif;
  --font_7: normal normal normal 16px / 1.4em montserrat, sans-serif;
  --font_8: normal normal normal 13px / 1.4em montserrat, sans-serif;
  --font_9: normal normal normal 11px / 1.4em montserrat, sans-serif;
  --font_10: normal normal normal 12px / 1.4em din-next-w01-light, sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --wix-opt-in-direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
  --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
}

:root {
  --wst-button-color-fill-primary: rgb(var(--color_48));
  --wst-button-color-border-primary: rgb(var(--color_49));
  --wst-button-color-text-primary: rgb(var(--color_50));
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);
  --wst-color-custom-1: rgb(var(--color_13));
  --wst-color-custom-2: rgb(var(--color_16));
  --wst-color-custom-3: rgb(var(--color_17));
  --wst-color-custom-4: rgb(var(--color_19));
  --wst-color-custom-5: rgb(var(--color_20));
  --wst-color-custom-6: rgb(var(--color_21));
  --wst-color-custom-7: rgb(var(--color_22));
  --wst-color-custom-8: rgb(var(--color_23));
  --wst-color-custom-9: rgb(var(--color_24));
  --wst-color-custom-10: rgb(var(--color_25));
  --wst-color-custom-11: rgb(var(--color_26));
  --wst-color-custom-12: rgb(var(--color_27));
  --wst-color-custom-13: rgb(var(--color_28));
  --wst-color-custom-14: rgb(var(--color_29));
  --wst-color-custom-15: rgb(var(--color_30));
  --wst-color-custom-16: rgb(var(--color_31));
  --wst-color-custom-17: rgb(var(--color_32));
  --wst-color-custom-18: rgb(var(--color_33));
  --wst-color-custom-19: rgb(var(--color_34));
  --wst-color-custom-20: rgb(var(--color_35));
}